/* Estilos gerais */
body, html {
  margin: 0;
  padding: 0;
  width: 100%; /* O corpo ocupará toda a largura da tela */
  height: 100%; /* O corpo ocupará toda a altura da tela */
  overflow: hidden; /* Impede o scroll da página */
}

#gameCanvas {
  display: block; /* Remove margens automáticas do canvas */
  width: 100vw; /* O canvas ocupará toda a largura da tela */
  height: 100vh; /* O canvas ocupará toda a altura da tela */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tela de seleção de personagens */
#select-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(imggame/tela-selecao.jpeg);
  color: white;
}
h1 {
 font-family:'Press Start 2P';
 color: black;
}

.character-options img {
  width: 80px;
  margin: 20px;
  cursor: pointer;
  transition: transform 0.2s;
}

.character-options img:hover {
  transform: scale(1.2);
}

/* Tela do jogo */
.game {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url('imggame/saladeaula.jpeg');
  background-color: black;
  background-repeat: repeat-x;
  background-size: cover;
  background-attachment: fixed;
  animation: moveBackground 5s linear infinite;
}

/* Canvas do jogo */
canvas {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}

/* Exibição da pontuação */
#score {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  color: white;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 10px;
  z-index: 10;
}

/* Animação para mover o fundo */
@keyframes moveBackground {
  from {
      background-position: 0 0;
  }
  to {
      background-position: -2000px 0;
  }
}
/* Estilos globais para o jogo */

/* Estilos específicos para a tela de Game Over */
/* ===== Estilo para Game Over ===== */
.game-over {
  background-image: url('imggame/game-over.jpeg'); /* Imagem de fundo para a tela de Game Over */
  background-size: cover;
  background-position: 100px center; /* Ajusta para centralizar a imagem */
  background-attachment: fixed;
  color: white;
  font-family: 'Press Start 2P';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.game-over-score {
  font-size: 2em;
  font-family: 'Press Start 2P';
  margin-bottom: 80px;
  position: absolute;
  top: 500px; /* Ajusta a posição da pontuação */
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
}

.game-over .game-over-button { /* Estilo do botão "Jogar Novamente" */
  padding: 10px 20px;
  font-size: 1em;
  font-family: 'Press Start 2P';
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 2;
  position: relative;
  top: 150px;  /* Move o botão para baixo */
  left: -15px;  /* Move o botão para a direita */
  margin-top: 20px;
  transition: 0.3s;
}

.game-over .game-over-button:hover {
  background-color: #f0f0f0; /* Efeito de hover */
}

/* ===== Estilo para You Win ===== */
body.you-win {
  margin: 0;
  padding: 0;
  background-image: url('imggame/youwin.jpeg');
  background-size: 80%;
  background-position: center -100px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

body.you-win button {
  padding: 15px 30px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #28a745;
  color: white;
  transition: 0.3s;
}

body.you-win button:hover {
  background-color: #218838;
}

.you-win-score {
  position: absolute;
  top: 20px;
  left: 20px;
  font-family: 'Press Start 2P';
  font-size: 24px;
  font-weight: bold;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 8px;
  z-index: 10;
}

.you-win-button {
  position: absolute;
  top: 120px; /* Ajusta a posição do botão */
  left: 20px;
  padding: 10px 20px;
  font-size: 18px;
  font-family: 'Press Start 2P';
  border: none;
  border-radius: 8px;
  background-color: #28a745;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  z-index: 10;
}

.you-win-button:hover {
  background-color: #218838;
}
